@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .font-inter {
    @apply font-sans; /* Assuming you want to apply the sans-serif font family */
    font-family: 'Inter', sans-serif; /* Ensure you have the Inter font loaded */
  }
  .font-satoshi {
    @apply font-sans; /* Assuming you want to apply the sans-serif font family */
    font-family: 'Satoshi', sans-serif; /* Ensure you have the Satoshi font loaded */
  }
}


.main {
   width: 100%;
   height: 100vh;
   position: fixed;
   display: flex;
  
}

.app{
  padding: 10px;
}
.icon{
  margin-right: 8px;
}

/* styles/globals.css */
.blob {
  border-radius: 25% 60% 50% 60% / 60% 50% 50% 50%;
}

/* Custom styles for the slider dots */
.custom-dots {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.custom-dots li {
  list-style: none;
  margin: 0 5px;
}

.custom-dots li button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.custom-dots li button:before {
  content: '';
  display: block;
  width: 30px;
  height: 5px;
  background-color: gray; /* Default color */
}

.custom-dots li.slick-active button:before {
  background-color: red; /* Active dot color */
}

.custom-dots li:nth-child(3n+1) button:before {
  background-color: blue; /* Every third dot color */
}

.custom-dots li:nth-child(3n+2) button:before {
  background-color: green; /* Every third dot color */
}

.custom-dots li:nth-child(3n) button:before {
  background-color: yellow; /* Every third dot color */
}
